
@layer base {
  html {
    font-family: 'Poppins', 'Roboto', sans-serif;
  }
  h1, h2, h3, .font-bold {
    font-family: 'Poppins', sans-serif;
  }
  body {
    font-family: 'Roboto', sans-serif;
  }
}
@layer base {
  html {
    font-family: 'Poppins', 'Roboto', sans-serif;
  }
  h1, h2, h3, .font-bold {
    font-family: 'Poppins', sans-serif;
  }
  body {
    font-family: 'Roboto', sans-serif;
  }

}